#nameLin{
    color: rgb(17, 246, 86);
}
#atLin{
    color: green;
}
#gameLin{
    color: green;
}
.CommandLine{
    color:greenyellow;
    background-color: black;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;

}
.inputCL{
    background-color: black;
    border: 0;
    color: white;
}
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #000000;
    font-family: 'Source Code Pro', monospace;
  }

  /*pre {
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    color: greenyellow;
    background-color: black;
    padding: 10px
  }*/
  
  .no-outline:focus {
    outline: none;
  }
  textarea:focus, input:focus{
    outline: none;
}