#nameLin{
    color: rgb(142, 27, 162);
}
#atLin{
    color: rgb(3, 131, 206);
}
#gameLin{
    color: rgb(86, 215, 219);
}
.CommandLine{
    color:greenyellow;
    background-color: black;
    font-family: 'Source Code Pro', monospace;

}
.inputCL{
    background-color: black;
    border: 0;
    color: white;
}
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #000000;
    font-family: 'Source Code Pro', monospace;
  }
  
  .no-outline:focus {
    outline: none;
  }
  textarea:focus, input:focus{
    outline: none;
}