.Home{
    font-family: 'Source Code Pro', monospace;
    background-color: black;
    height: 100vh;
   
    
}
.firstRender{
    color: rgb(37, 230, 88);
   
}

.end{
    height: 100vh;
    align-items: center;
    font-size: 100px;

}